{% load static %}
{% load js %}

<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">

    <script src="{% static 'js/08aa760c74.js' %}" type="text/javascript"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">

    <style>
        a.dropdown-item {
            transition: all .2s ease-in-out;
        }

        a.dropdown-item:hover {
            transform: scale(1.1);
            background: #2d95f600
        }

        tr {
            cursor: pointer;
        }

        .pdfOpt {
            color: #444444;
        }

        .pdfOpt:hover {
            color: #428bca;
            text-decoration: none;
        }
    </style>

    <title>Kings Security | Parking Lot Records</title>

</head>

<body>

    <div class="wrapper px-3">
        <div class="row">

            <div class="col-lg-12 my-3">

                <div class="parkform recordlist" style="width:100%; height:100%; padding: 0px;">
                    <script>$(".recordlist").hide();</script>


                    <div class="row px-5">

                        <div class="col-sm-2 pt-4 text-center">
                            <div class="btn-group btn float-left" role="group">
                                <button type="button" class="backBtn btn btn-dark">
                                    <i class="fas fa-arrow-left pr-3"></i>
                                    Back
                                </button>
                            </div>
                        </div>

                        <div class="col-sm-8 optionbar pt-4 text-center">
                            <div class="btn recOpts disabled" role="group" aria-label="Options" style="pointer-events: none;">
                                <button type="button" class="detREC btn btn-success">Record Detail</button>

                                <div class="btn-group mx-5" role=group>
                                        <span class="pdfLoader"></span>
                                    <div class="input-group-prepend">
                                       
                                        <label class="input-group-text" for="inputGroupSelect01">
                                            <i class="fa fa-file-pdf-o pr-2" style="color:red"></i>PDF
                                        </label>
                                    </div>
                                    <button class="btn btn-light border pdfOpt pdfRECv">View<i class="fas fa-angle-up pl-2" style="color:#428bca"></i></button>
                                    <button class="btn btn-light border pdfOpt pdfRECd">Download<i class="fas fa-download pl-2" style="color:#428bca"></i></button>
                                </div>

                                <button type="button" class="delREC btn btn-danger">Delete Record</button>
                            </div>
                        </div>

                        <div class="col-sm-2 groupdelete pt-4 text-center">
                            <div class="btn-group btn float-right" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Group Delete
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="#">1+ Weeks Old</a>
                                    <hr class="m-1 p-1">
                                    <a class="dropdown-item" href="#">1+ Months Old</a>
                                    <hr class="m-1 p-1">
                                    <a class="dropdown-item" href="#">1+ Years Old</a>
                                    <hr class="m-1 p-1">
                                    <a class="dropdown-item" href="#">All Previous Records</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="todaysRecord mt-4">
                        <h2 class="py-3">Today's Record</h2>
                        <hr class="mt-2">

                        <div class="my-4" style="font-size:90%">
                            <table class="table table-hover">
                                <tbody>
                                    <tr class="bg-dark" style="color:whitesmoke">
                                        <th>
                                            <div class="cf7">Date</div>
                                        </th>
                                        <th>
                                            <div class="cf8">Total Vehicles</div>
                                        </th>
                                        <th>
                                            <div class="cf8">Duration</div>
                                        </th>
                                    </tr>
                                    {% if todays_record is not None %}
                                    <tr id="todaysRecRow" data-id='{{ todays_record.id }}'>
                                        <td>
                                            <div>{{ todays_record.date|date:'d-m-Y, l' }}</div>
                                        </td>
                                        <td>
                                            <div>{{ todays_record.customers.count }}</div>
                                        </td>
                                        <td>
                                            <div style="font-size: 100%">{{ todays_record.created|date:'h:i a' }} -
                                                {{ todays_record.updated|date:'h:i a' }}</div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="previousRecords">
                        <h2 class="py-3">Previous Records</h2>
                        <hr class="mt-2">

                        <div class="my-4" style="font-size:90%">
                            <table class="table table-hover">
                                <tbody id="prevRecBody">
                                    <tr class="bg-dark" style="color:whitesmoke;">
                                        <th>
                                            <div class="cf7">Date</div>
                                        </th>
                                        <th>
                                            <div class="cf8">Total Vehicles</div>
                                        </th>
                                        <th>
                                            <div class="cf8">Duration</div>
                                        </th>
                                    </tr>
                                    {% for record in prev_records %}
                                    <tr data-id='{{ record.id }}'>
                                        <td>
                                            <div>{{ record.date|date:'d-m-Y, l' }}</div>
                                        </td>
                                        <td>
                                            <div>{{ record.customers.count }}</div>
                                        </td>
                                        <td>
                                            <div style="font-size: 100%">{{ record.created|date:'h:i a' }} -
                                                {{ record.updated|date:'h:i a' }}</div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
    </div>



    {% block js %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    {% endblock %}

    {% block extrajs %}

    <script src="{% static 'js/records.js' %}" type="text/javascript"></script>

    {% endblock %}

</body>

<script>


</script>

</html>